.btn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    /* direkt transaction süresini verebilirsin bunu en çok hover olduğunda farkedersin renk değişikliğinde vs süre uzamış olur */
    transition-duration: .6s;
}
.btn-primary{
    background-color: #fc997c;
    color: white;
    padding: 5px;
    margin-bottom: 12px;
}
.btn-secondary{
    background-color: cadetblue;
    color: white;
    border: 2px solid white;
}
.btn-primary:hover{
    background-color: white;
    color: #fc997c;
    border: 1px solid white;
}
.btn-secondary:hover{
    background-color: white;
    color: cadetblue;
    border: 2px solid cadetblue;
}